@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');


body {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}

h2 {
    margin-top: 50px;
}

.principal  {

    display: grid;
    width: 1000px;
    margin: 0 auto;

}

.container1 {

    background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E7EBF0;
    background-blend-mode: soft-light, normal;
    height: 23px;
    border: 0.5px solid rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
    box-shadow: inset -2.5px -2.5px 5px #FAFBFF, inset 2.5px 2.5px 5px #A6ABBD;
    border-radius: 18.5px;
}

.progressBar1 {

    position: absolute;
    height: 20px;
    background-color: red;
    border-radius: 10px;
    

}

button {
    margin-top: 30px;
    width: 100px;
}

#play-animation {
    animation: progress-animation 5s forwards;
}

@keyframes progress-animation {

    0% {width: 0%;}
    100%{width: 75.6%;}
}